.topNavigation {
  display: flex;
  gap: 50px;
  /* align-items: end; */
  justify-content: flex-end;
}
.topNavigationButtonHasSub {
  position: relative;
}

.topNavigationButtonHasSub > svg {
  transition: color ease 0.3s;
  /* font-family: FontAwesome; */
  /* content: '\f107'; */
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
}

.topNavigationSubMenu {
  position: absolute;
  width: auto;
  background-color: #fff;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.09);
  overflow: hidden;
  top: 50px;
  right: 0px;
  left: unset;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(2em);
  visibility: hidden;
  z-index: -1;
}

.topNavigationSubLink {
  display: block;
  background: #ff6e00;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  width: auto;
  min-width: 180px;
  padding: 15px 25px 15px 15px;
  transition: all 0.3s ease;
  position: relative;
}

.topNavigationSubLink:hover {
  padding-left: 25px;
  padding-right: 15px;
}

.topNavigationSubLink:hover:before {
  width: 3px;
}

.topNavigationButtonHasSub:hover .topNavigationSubMenu {
  visibility: visible;
  opacity: 1;
  z-index: 3;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.topNavigationButton {
  height: 50px;
  display: flex;
  align-items: center;
}

.topNavigationLink {
  font-size: 18px;
  font-weight: 500;
}

.topNavigationLink:hover {
  color: #fff;
}