{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "proseWrap": "never",
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 9999,
  "useTabs": false
}
